.titolorosselli{
    position:absolute;
    top:16px;
    right:25;
    color:grey;
}

.titoloshop{
    position:absolute;
    color:#343434;
    top:7px;
    left:120px;
}

.logosrd{
    position:absolute;
    top:-5px;
    left:10;

}

.barratitoli{
    width: 100%;
    height: 90px;
    background:rgb(241, 239, 238);
}



.appiccicosa{
    position:sticky;
    top:0px;
    z-index: 1000;
    
}

body, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.banner {
  width: 100%;
}

.titolo050{
    position:absolute;
    left:15px;
    top: 500px;
    z-index: 1;
}

.rosso{
    color:red;
}

.istruzioni{
    width: 100%;
    height: 45px;
    background-color: #C4BFAD;
    z-index: 3;
}